* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/photo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 3.125rem 0rem 3.125rem 2.5rem;
}

header {
  display: flex;
  gap: 60px;
  align-items: flex-end;
  position: relative;
}

h1 {
  font-size: 1.49rem;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 0.75rem;
}

.login {
  text-decoration: underline;
  font-weight: 700;
}

.welcome {
  font-size: 2.8125rem;
  font-weight: 700;
  margin-top: ;
  position: absolute;
  bottom: 3rem;
}

.form {
  background-color: white;
  color: black;
  height: 100vh;
  width: 45vw;
  border-radius: 10%;
  padding: 8rem 0rem 0rem 6rem;
}

.LoginForm {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.input {
  height: 2.2rem;
  width: 22rem;
  font-size: 0.8rem;
  border-radius: 1.1rem;
  padding: 1rem;
  background-color: #e7e7e7;
  border: none;
}

.password {
  display: flex;
  gap: 2.5rem;
  font-size: 0.8rem;
  padding: 1rem;
  margin-top: -1.7rem;
}

.forgot {
  color: black;
}

.button {
  width: 22rem;
}

button {
  height: 2.34rem;
  width: 22rem;
  font-size: 0.8rem;
  border-radius: 1.72rem;
  text-align: center;
  background-color: #e7e7e7;
  border: none;
}

.loginbutton {
  margin-top: 2.5rem;
  background-color: black;
  color: white;
}

.or {
  font-size: 0.8rem;
  padding-left: 0rem;
  margin: 0.16rem 0rem 0.16rem 0rem;
  display: flex;
  align-items: center;
  
}

.or::before, .or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid black;
}

.or::before {
  margin-right: 1rem;
}

.or::after {
  margin-left: 1rem;
}